<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="grid.css">
    </head>
    <body>
        <div class="container-1">
            <div class="el el-1">First</div>
            <div class="el el-2">Second</div>
            <div class="el el-3">Third</div>
            <div class="el el-4">Four</div>
            <div class="el el-5">Five</div>
            <div class="el el-6">Six</div>
            <div class="el el-1 el-7">seven</div>
            <div class="el el-8">eight</div>
            <div class="el el-9">nine</div>
        </div>

        <div class="container-2">
            <div class="cl cl-1">First</div>
            <div class="cl cl-2">Second</div>
            <div class="cl cl-3">Third</div>
            <div class="cl cl-4">Four</div>
            <div class="cl cl-5">Five</div>
            <div class="cl cl-6">Six</div>
            <div class="cl cl-1 cl-7">seven</div>
            <div class="cl cl-8">eight</div>
            <div class="cl cl-9">nine</div>
        </div>
    </body>
</html>